<!DOCTYPE html>
<html>

<head>
    <title>nav</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link <%= currentPage === `/${userID}/trading` ? 'active' : '' %>"
                    href="/daytrading/<%= userID %>/trading">Trading</a>
                <a id="summary-link" class="nav-item nav-link <%= currentPage === `/${userID}/summary` ? 'active' : '' %>"
                    href="/daytrading/<%= userID %>/summary">Account Summary</a>
                <a class="nav-item nav-link <%= currentPage === `/${userID}/addbalance` ? 'active' : '' %>"
                    href="/daytrading/<%= userID %>/addbalance">Add balance</a>
            </div>
        </div>
        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    User: <%= userID %>
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/daytrading/logout">Logout</a>
                </div>
            </div>
            <div class="nav-item">
                <span id="balance" class="nav-link">Balance: $<%= parseFloat(balance).toFixed(2) %></span>
            </div>
        </div>
    </nav>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/daytrading/js/navBar.js"></script>
</body>

</html>